# Documentation
# Docs/

# Rust Build Artifacts
target/
**/*.rs.bk

# Node/React Build Artifacts
node_modules/
sar-dashboard-v2/node_modules/
sar-dashboard-v2/build/

# Docker Archives
*.tar

# System & IDE
.DS_Store
.vscode/
.idea/
.tar

# Secrets & Env Vars
k8s_manifests/esa_secret.yaml
**/*.env
.env
*.secret.yaml

# Research / Private AI chats (never commit)
Research/